/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

@font-face {
  font-family: 'Furore';
  src: url('../assets/Furore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: sans-serif;
   overflow: hidden;
   transition: background-color 0.6s ease;
   background-color: black;
 }

 .container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
 }
.s1{
  text-align: center;
  font-size: 15vw !important;
  color: rgba(255, 255, 255, 0.05) !important;
}
.s2 {
  text-align: center;
  font-size: 15vw !important;
  color: rgba(255, 255, 255, 0.1) !important;
}
.s3 {
  text-align: center;
  font-size: 10vw !important;
  color: rgba(255, 255, 255, 1) !important;
  justify-content: space-between;
}
 .section {
  padding: 20px;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 20vh;
   transition: all 0.6s ease;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   color: rgb(255, 255, 255);
 }

 .section:first-child {
   top: 0;
 }

 .moreSection {
   position: fixed;
   right: -100%;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.95);
   transition: right 0.4s ease;
   padding: 20px;
   overflow-y: auto;
   z-index: 100;
 }

 .moreSection.is-open {
   right: 0;
 }

 .section{
  background-color: rgb(0, 0, 0);
 }

 .mainText{
  font-family: "Furore";
  line-height: 1;
 }


 .pText{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
 }

 .buttonBanka {
   background-color: #FB5255;
   border-radius: 20px;
   color: white;
   text-align: center;
   padding: 20px;
   margin: 20px;
   font-weight: 500;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
 }

 .link {
   width: 100%;
   max-width: 420px;
   font-size: 20px;
 }